{% extends "base.html" %}
{% block content %}

<div class="home-hero">
    <div class="home-container">
        <div class="info-section">
            <h2>PROJECT INFORMATION</h2>
            <div class="info-card">
                <p>Add a little bit of body text</p>
            </div>
        </div>

        <div class="info-section">
            <h2>HOW THE ML MODEL WORKS</h2>
            <div class="info-card">
                <p>Add a little bit of body text</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
